<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bonfire</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="assets/css/main.css"> -->
</head>
<body>
 
<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Bonfire</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4" align="center">
            
              <div class="form-group">
                <p class="lead text-center"> Can we get your phone number?</p>
                <input type="tel" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
         </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
 
      var form = $('#number-form');
	$( ".btn-default" ).click(function() {

      var store_id = window.location.search.indexOf("store_id=");

		var phoneNumber = $("#phoneNumber").val();
            	var obj = {'phoneNumber':phoneNumber, 'store_id': store_id };
		$.ajax({
			           type: "POST",
			           url: "http://ec2-54-145-160-113.compute-1.amazonaws.com/api/",
			           contentType: 'application/json; charset=utf-8',
			           data: JSON.stringify(obj),
			           success: function(data) {
					alert(data);
				   },
			           error: function(rs, e) {
			                   console.log(rs.responseText);
			            }
	       });
	});		
 
});
</script>
 
</body>
</html>
